<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- modify this form HTML and place wherever you want your form -->
<div class="header">
  <div class="background">
    <div class="background-content">
      <div class="leftSideContent">
        <h1>HTML Template.</h1>
        <h5>Your's Amazing HTML Template.</h5>
        <button class="btn-buynow">Buy Now</button>
      </div>
    </div>
  </div>
  <div class="services_area">
    <div class="container">
      <div class="heading_title">
        <h1>We are Providing Work's</h1>
        <small>What's Go one?</small>
      </div>
      <br>
      <div class="searvice_block">
        <div class="service_box">
          <h1 style="font-size:4rem">@</h1>
          <h3>First Service</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae temporibus ratione quos illum aperiam distinctio beatae quaerat molestias? Ut, corrupti debitis.</p>
        </div>
        <div class="service_box">
          <h1 style="font-size:4rem">#</h1>
          <h3>Second Service</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae temporibus ratione quos illum aperiam distinctio beatae quaerat molestias? Ut, corrupti debitis.</p>
        </div>
        <div class="service_box">
          <h1 style="font-size:4rem">~</h1>
          <h3>Third Service</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae temporibus ratione quos illum aperiam distinctio beatae quaerat molestias? Ut, corrupti debitis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clients_section">
    <div class="container">
      <div class="heading_title">
        <h1>Work's With Client's</h1>
        <small>What's Go one?</small>
      </div>
      <div class="clients_content">
        <div class="clients_box">
          <div class="clients_photo">
            <img src="img/person_2.jpg" alt="Our Team">
          </div>
          <h3>Mark Jakarburg.</h3>
          <small>CEO, Facebook</small>
          <p>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod.</p>
          <h5 style="color: rgba(8, 141, 59, 0.219);">** Social Link Encrypted **</h5>
        </div>
        <div class="clients_box">
          <div class="clients_photo">
            <img src="img/person_5.jpg" alt="Our Team">
          </div>
          <h3>Steve Job.</h3>
          <small>CEO, Apple</small>
          <p>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod.</p>
          <h5 style="color: rgba(8, 141, 59, 0.219);">** Social Link Encrypted **</h5>
        </div>
        <div class="clients_box">
          <div class="clients_photo">
            <img src="img/person_2.jpg" alt="Our Team">
          </div>
          <h3>Bil Gates.</h3>
          <small>CEO, Microsoft Corporation</small>
          <p>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod.</p>
          <h5 style="color: rgba(8, 141, 59, 0.219);">** Social Link Encrypted **</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Form  -->
  <div class="contact_area" >
    <div class="container">
      <div class="heading_title">
        <h1>Contact With Me</h1>
        <small>What's Go one?</small>
      </div>
      <div class="contact_content">
        <div class="leftSide">
          <h3>Support Team</h3>
          <small>(Contact Me In Time 10:00 To 5:00)</small>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, amet. Expedita consequatur dolores alias nesciunt, excepturi esse porro? Dignissimos odit pariatur nesciunt officiis optio, quod quo ex dicta sequi. Itaque.</p> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, amet. Expedita consequatur dolores alias nesciunt, excepturi esse porro? Dignissimos odit pariatur nesciunt officiis optio, quod quo ex dicta sequi. Itaque.</p> <p>Lorem ipsum dolor, sit amet cons esse porro? Dignissimos odit pariatur nesciunt officiis optio, quod quo ex dicta sequi. Itaque.</p>
          <h3>Get A Free Qoute</h3>
          <div>
            <form action="" class="signUpForm">
              <input type="text" placeholder="Email" class="inputEmail">
              <input type="submit" value="Sign Up" class="inputBtn">
            </form>
          </div>
        </div>
        <div class="rightSide">
          <h3>Contact Form</h3>
          <form action="" class="right_form">
            <input type="text" placeholder="Your Email">
            <input type="text" placeholder="Your Subject">
            <textarea name="" placeholder="Your Messages" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="submitBtn"> Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer>
    <div class="container">
      <h4>Copyright By <a href="#">2020</a> Alright Reserved by <a href="">Ashik Mahmud</a></h4>
    </div>
  </footer>
</body>
</html>
