*,
*::after,
*::before {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.showMenu {
    max-height: 1000px !important;
}

.toggler-icon {
    position: relative;
}

.toggler-icon::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    // background-color: #222;
    right: 0px;
    top: 50%;
    border: 2px solid #222;
    border-left: none;
    transform: rotate(45deg) translateY(-50%);
    border-top: none;
}

.container {
    width: 1200px;
    margin: auto;

    @media (max-width: 1400px) {
        width: 100%;
        padding: 0rem 1rem;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
    display: inline-block;
}

header {
    position: relative;
    width: 100%;
    padding: 1rem 0rem;
    background: rgba(231, 231, 231, 0.431);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo {
            position: relative;

            a {
                font-size: 2rem;
                font-family: cursive;

            }
        }
        .showMobileMenu{
            left: 0% !important;
        }
        .primary-menu {
            position: relative;

            @media (max-width:1000px) {
                display: block;
                width: 70%;
                height: 100%;
                z-index: 2;
                position: fixed;
                left: -100%;
                transition: all 0.3s ease;
                top: 0px;
                background-color: #ededed;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 3px;
                    background-color: rgb(212, 212, 212);
                }
                &::-webkit-scrollbar-track{
                    border-radius: 50px;
                }
                &::-webkit-scrollbar-thumb{
                    background:rgb(156, 156, 156);
                    border-radius: 100px;
                }
            }

            ul {
                display: flex;
                align-items: center;
                position: relative;

                @media (max-width:1000px) {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 2rem;

                }

                li {
                    padding: 0rem 1rem;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    @media (max-width:1000px) {
                        padding: .5rem 0rem;
                        width: 100%;
                        border-top: 1px solid rgba(187, 187, 187, 0.267);
                    }

                    &:hover {
                        background-color: #ffffff;
                        color: #222;
                          @media (max-width:1000px) {
                              background-color: transparent;
                          }
                    }

                    &:hover>ul {
                        opacity: 1;
                        transform: translateY(0px);
                        pointer-events: all;
                        visibility: visible;
                    }

                    ul {
                        position: absolute;
                        display: block;
                        background-color: rgb(255, 255, 255);
                        padding: 0rem 1rem 0rem 0rem;
                        min-width: 220px;
                        box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.1);
                        border-top: 2px solid #222;
                        top: 50px;
                        transform: translateY(20px);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease;

                        @media (max-width: 1400px) {
                            right: 0%;
                        }

                        @media (max-width:1000px) {
                            position: relative;
                            transform: translateY(0px);
                            opacity: 1;
                            visibility: visible;
                            top: 0px;
                            background-color: rgb(224, 223, 223);
                            max-height: 0px;
                            overflow: hidden;
                            border-top: none;
                        box-shadow: none;

                        }

                        li {
                            position: relative;
                            padding: 0rem;

                            @media (max-width:1000px) {
                                width: 100%;
                            }

                            &:hover>ul {
                                opacity: 1;
                                transform: translateY(0px);
                                pointer-events: all;
                                visibility: visible;
                            }

                            ul {
                                position: absolute;
                                left: 220px;
                                top: 0px;
                                transform: translateY(20px);
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.3s ease;

                                @media (max-width: 1400px) {
                                    left: -220px !important;
                                    max-width: 220px;
                                }

                                @media (max-width:1000px) {
                                    position: relative;
                                    transform: translateY(0px);
                                    opacity: 1;
                                    visibility: visible;
                                    top: 0px;
                                    left: 0px !important;
                                    max-width: 100%;
                                    max-height: 0px;
                                    overflow: hidden;
                                    border-top: none;
                                }
                            }

                            a {
                                padding: .6rem 1rem;
                                position: relative;
                                transition: all 0.3s ease;
                                display: block;

                                &:hover {
                                    background-color: transparent;
                                    color: #222;
                                  
                                }
                            }
                        }
                    }
                }

                a {
                    font-size: 1.1rem;
                    font-family: tahoma;
                    transition: all 0.3s ease;
                    padding: 0.5rem 1rem;

                    @media (max-width:1000px) {
                        display: block;
                    }

                }
            }
        }

        .humberger {
            position: relative;
            cursor: pointer;
            background-color: rgba(231, 231, 231, 0.431);
            padding: .5rem;
            box-shadow: inset 0rem 0rem 3rem rgba(114, 114, 114, 0.185);
            display: none;

            @media (max-width:1000px) {
                display: block;
            }
            
            span {
                width: 25px;
                height: 3px;
                background-color: #222;
                display: block;
                position: relative;
                margin-bottom: .3rem;
                transition: all 0.3s ease;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .active span{
            position: relative;
            &:nth-child(2){
                transform:scale(0);

            }
            &:nth-child(1) {
                transform: rotate(45deg);
                 top: 7px;
            }
             &:nth-child(3) {
                 transform: rotate(-45deg);
                 bottom: 8px;
             }
        }
    }
}