.font-family{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
*{
    box-sizing: border-box !important;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.no-radius{
    border-radius: 0px;
}
table td{
    padding: 0px !important;
}
input{
    box-shadow: none;
}